<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/estilo/estilo.css'>
    <script src='main.js'></script>
</head>
<body>
<article>
    <h1>Usuários cadastrados</h1>

    <div class="divs">
    <% pessoas.forEach((pessoa) => { %>
     <div><b>Nome: </b> <%= pessoa.nome %>    </div>   
     <div><b>Sobrenome: </b> <%= pessoa.sobrenome %></div> 
     <div><b>Idade: </b> <%= pessoa.idade %></div>  
     <div><b>id: </b> <%= pessoa.id %></div>
    <button > <a href="/pessoas/deletar?id= <%= pessoa.id %>">Deletar</a></button>
    <% }) %>
    </div>

    <button > <a href="/pessoas/criar">Voltar ao formulário</a></button>
</article>
</body>
</html>